# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 25775226ec3ebb39e2d5a17d52e1970b9db9e89b3436484fa65322a730e2426cafaf3a8fdccf632d0b133ed56d5473dd0c1adc21de58f38d3c42e4afc16e2a56

test:
  secret_key_base: 9e50780aa11ec7271ec33e73109b2f4bbd964b6582a6aa6a43aeb002d968ffbe30c2c6d3bf5d045a8fb72dc36d8e1336b224cf909d176e93f010465483cb2937

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>