<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a date range</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
    <style>      
        body {
            font-family: Arial, sans-serif !important;
        }
        .daterangepicker {
            width: 100%;
            max-width: 380px;
        }

        .daterangepicker th{
            font-family: Arial, sans-serif !important;
        }

        .daterangepicker .calendar {
            max-width: none;
        }
        .daterangepicker td.active, .daterangepicker td.active:hover {
            background-color: #ea5167;
        }
        .daterangepicker .input-mini.active, .form-control:focus {
            border-color: #ea5167;
        }
    </style>
</head>
<body>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));


    var today = new Date();
    var todayString = today.toISOString().substr(0, 10);

    var endDate = new Date();
    endDate.setDate(endDate.getDate() + 180);
    var tomorrowString = endDate.toISOString().substr(0, 10);

    window.extAsyncInit = function () {
        var daterange = $('input[name="daterange"]')
        daterange.daterangepicker({
            "locale": {
                "format": "YYYY-MM-DD",
            },
            "autoApply": true,
            "minDate": todayString,
            "startDate": todayString,
            "maxDate": endDate,
            "opens": 'left',
        }, function (start, end, label) {            
            send_answer(start.format('DD.MM.YYYY') + " - " + end.format('DD.MM.YYYY'));            
        });
        daterange.click();
        daterange.on('outsideClick.daterangepicker', function() {
            daterange.click();
        });
    };    
</script>

<div class="form-group">
    <input type="text" name="daterange" id="daterange" autofocus style="width: 100%; height:0; padding:0;" class="form-control input-lg"/>
</div>

</body>
</html>